.el-dialog {
    background: rgba(16, 23, 33, 0.95);
}

.el-checkbox {
    font-size: 0.14rem;

    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
        height: 0.02rem;
        top: 0.05rem;
    }

    .el-checkbox__inner {
        border-width: 0.01rem;
        border-radius: 0.02rem;
        width: 0.14rem;
        height: 0.14rem;

        &:after {
            border-width: 0.01rem;
            height: 0.07rem;
            left: 0.04rem;
            top: 0.01rem;
            width: 0.03rem;
        }
    }
}

.el-popover {
    min-width: 1.5rem;
}

.el-checkbox__inner {
    background: transparent;
    border-color: rgb(99, 99, 99);
    border-width: 0.01rem;
}

.el-tree-node__expand-icon {
    font-size: 0.12rem;
    padding: 0.06rem;
    color: rgb(76, 164, 252);
}

.el-tree-node:focus > .el-tree-node__content {
    background: rgba(39, 118, 167, 0.26);
}

.el-tree-node__content {
    height: 0.26rem;
    &:hover {
        background: rgba(39, 118, 167, 0.26);
    }

    & > .el-tree-node__expand-icon {
        padding: 0.06rem;
    }

    & > label.el-checkbox {
        margin-right: 0.08rem;
    }
}

.el-tree-node__label {
    font-size: 0.14rem;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background: transparent;
}

.el-table {
    font-size: 0.14rem;
    background: transparent;
    border-bottom: none;
    &:before {
        display: none;
    }
}

.el-table .cell {
    line-height: 0.23rem;
    padding-left: 0.1rem;
}

.el-table tr {
    background: transparent;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background: transparent;
}

.el-table th {
    * {
        color: rgb(76, 164, 252);
    }
}

.el-table td,
.el-table th {
    padding: 0.04rem 0.04rem;
}

.el-table .cell, .el-table th div{
    padding-right: .1rem;
}

.el-table td {
    border-bottom: 0.01rem dashed rgba(255, 255, 255, 0.2);
}
.el-table th.is-leaf {
    border-bottom: none;
}

.el-radio-button__inner {
    background: transparent;
    color: rgb(91, 118, 127);
    border: 0.01rem solid rgb(29, 79, 104);
    padding: .04rem .08rem;
    font-size: .12rem;
}
.el-radio-button:first-child .el-radio-button__inner{
    border-left: 0.01rem solid rgb(29, 79, 104);
    border-radius: 0.04rem 0 0 .04rem;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
    box-shadow: -.01rem 0 0 0 #256FC0;
}
