* {
    box-sizing: border-box;
    user-select: none;
}
body {
    font-size: 0.14rem;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
}
::-webkit-scrollbar-track {
    background-color: rgb(20,37,53);
}
::-webkit-scrollbar-corner {
    background-color: rgb(20,37,53);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(24,78,122); 
}

.iconfont {
    font-size: 0.16rem;
}
